.container {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    max-width: 950px;
    max-height: 800px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Side bar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-image: url(/assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    margin: 10px;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-left: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    height: 475px;
}

.step-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 30px;
}

.step-number {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
}

.step-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.step-title{
    color: rgb(201, 178, 178);
    margin: 0;
    font-size: 11px;
}
.step-subtitle {
    color: white;
    margin: 0;
    font-size: 12px;
}

/* Form Step 1 */
.form-area{
    padding-left: 3rem;
    padding-top: 2rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.form-title{
    font-size: 25px;
    color: rgb(30, 5, 51);
    margin-bottom: 10px;
}

.form-subtitle{
    color: rgb(171, 146, 146);
    margin: 0;
    margin-bottom: 30px;
}

.input-title{
    color: rgb(13, 13, 74);
    margin-bottom: 5px;
    font-size: 15px;
    
}

.input-box{
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    height: 20px;
}

.next-button{
    color: white;
    border-radius: 7px;
    background-color: rgb(40, 11, 84);
    height: 47px;
    width: 115px;
    margin-top: 70px;
    margin-left: 325px;
    font-size: 15px;
}


/* Form Step 2 */

#step2 .plans-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1rem;
}

.plan-card{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 10px;
    width: 140px;
    padding: 10px;
}

.card-img{
    padding: 5px;
}

.card-title{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}

.card-price{
    color: rgb(145, 138, 138);
    margin-top: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* Moves the circle in the slide */
input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.billing-freq{
    margin-top: 30px;
    gap: 20px;
    padding: 9px;
    display: flex;
    background-color: rgb(247, 245, 245);
    align-items: center;
    justify-content: center;
}

